/*****harshall*****/
/* #harshall(a9823ff3dfbdaa29) #css starts  */
.headera9823ff3dfbdaa29 .navbar .nav-link:hover,
.headera9823ff3dfbdaa29 .navbar .nav-link:focus {
    color: #4DBF1C
}
/* #harshall(a9823ff3dfbdaa29) #css ends  */
/*****harshall*****/

/*****carthur*****/
    /* #carthur(calltoactionsccah4u1afnyj) #css starts  */
    .calltoactionsccah4u1afnyj .fdb-block {
        padding: 2rem 0
    }
    .calltoactionsccah4u1afnyj .btn-primary {   
    color: #fff;
    background-color: #4DBF1C;
    border-color: #4DBF1C;
    font-weight: 600
     }
     .btn-primary:hover,
     .btn-primary:not(:disabled):not(.disabled):active,
     .btn-primary:focus{
        color: #fff;
        background-color: #4DBF1C;
        border-color: #4DBF1C;
        font-weight: 600
     }
    /* #carthur(calltoactionsccah4u1afnyj) #css ends  */
/*****carthur*****/


/*****fethany*****/
/* #fethany(fethanyfezt9chya5y) #css starts */
.fethanyfezt9chya5y{
    padding: 3rem 0
}
.fethanyfezt9chya5y h3{
    font-size: 20px
}
.fethanyfezt9chya5y .lead{
    font-size: 18px
}
/* #fethany(fethanyfezt9chya5y) #css starts */
/*****fethany*****/


/*****faye*****/
/* #faye(fayete8bna5e4lc) #css starts */
.fayete8bna5e4lc .fdb-block{
    padding: 4rem 0
}
     .fayete8bna5e4lc  .fdb-block .fdb-touch {
      border-top: solid 0.3125rem #4DBF1C
     }
     .fayete8bna5e4lc a{
    color: #4DBF1C;
    font-weight: 700
     }
     
/* #faye(fayete8bna5e4lc) #css starts */
/*****faye*****/

/*****purviss*****/
    /* #purviss(pricesd968f923c99adba9) #css starts  */
     .pricesd968f923c99adba9 .btn-outline-secondary{
        background-color: white;
        border: 2px solid #4DBF1C;
        color: black;
     }
     .pricesd968f923c99adba9 .btn-secondary {
        background-color: #4DBF1C;
        border: #4DBF1C;
    }
    /* #purviss(pricesd968f923c99adba9) #css ends  */
/*****purviss*****/

/*****basu*****/
/* #basu(d12294b36d7b134b) #css starts  */
.bannerd12294b36d7b134b .button {
background-color: #4DBF1C
}
.bannerd12294b36d7b134b .button:hover {
color: white
}
/* #basu(d12294b36d7b134b) #css ends  */
/*****basu*****/

/*****fisher*****/
/* #fisher(fisherftt2okgfykr) #css starts  */
.fisherftt2okgfykr .nav-link {
    color: #fff;
    font-weight: 600
}
.fisherftt2okgfykr .nav-link:hover {
    color: #4DBF1C
}
/* #fisher(fisherftt2okgfykr) #css ends  */
/*****fisher*****/